#avatar {
	height: 40px;
	width: 40px;
}

.avatar {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

#projects {
	display: none;
	height: 400px;
}

.card {
	width: 18rem;
	margin: .5rem;
}
