#avatar {
	height: 38px;
	width: 38px;
}

.avatar {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

#projects {
	display: flex;
	height: 400px;
}

#project-card {
	width: 18rem;
	margin: .5rem;
}

#projects-page, #purchased-resources-page, #resources-page {
	display: none;
}

#noprojects {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
	color: dimgrey;
}

.create-project {
	margin: .3rem .5rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}

.list-group-item {
	display: inline-flex;
}

#accept-workers-page {
	display: none;
	width: 80%;
}

.lding {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    z-index: 1;
}

.lds-css {
    height: 200px;
    width: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 1;
}

.lds-cube {
    position: relative;
}

.lds-cube div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    background: #ec0000;
    -webkit-animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.lds-cube div:nth-child(2) {
    top: 10px;
    left: 110px;
    background: #e1e1e1;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-cube div:nth-child(3) {
    top: 110px;
    left: 110px;
    background: #0057ff;
    -webkit-animation-delay: 0s;
    animation-delay: -0.1s;
}

.lds-cube div:nth-child(4) {
    top: 110px;
    left: 10px;
    background: #a5a5a5;
    -webkit-animation-delay: -0.1s;
    animation-delay: 0s;
}

.lds-cube {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
