#avatar {
	height: 40px;
	width: 40px;
}

.avatar {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

#projects {
	display: flex;
	height: 400px;
}

#project-card {
	width: 18rem;
	margin: .5rem;
}

#projects-page, #purchased-resources-page, #resources-page {
	display: none;
}

#noprojects {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
	color: dimgrey;
}

.create-project {
	margin: .3rem .5rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}
